table.ip-listing {
  margin: 1em 0;
  border: 1px solid #ddd;
}


  table.ip-listing td, table.ip-listing th {
    padding: 0.5em 1em;
  }

form[name="addnewipform"] input {
  margin: 0.5em 1em;
}

form[name="addnewipform"] label small {
  display: inline;
}
