<h3 class="bold">IP Restrictor settings</h3>
<div class="umb-editor-container">
    <div ng-controller="koben.ipRestrictor.settingsController">
        <form name="addnewipform" ng-submit="addIp(newip)">
            <fieldset>
                <legend>Add IP to whitelist</legend>
                <div>
                    <p><small>Please enter only IPv4 addresses</small></p>
                    <label><b>Alias: </b> </label>
                    <input name="alias" type="text" ng-model="newip.alias" required />
                </div>
                <div>
                    <label><b>From IP: </b></label>
                    <input name="fromip" type="text" ng-model="newip.fromIp" ng-change="newip.toIp = newip.fromIp" placeholder="xxx.xxx.xxx.xxx" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" required />
                </div>

                <div>
                    <label><b>To IP: </b></label>
                    <input name="toip" type="text" ng-model="newip.toIp" placeholder="xxx.xxx.xxx.xxx" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" required />
                </div>
                <umb-button label="Add"
                            type="submit"
                            button-style="success">
                </umb-button>
            </fieldset>


        </form>
        <hr />
        <table class="ip-listing">
            <thead>
                <tr>
                    <th colspan="4">
                        Whitelisted Ips
                    </th>
                </tr>
                <tr>
                    <th>
                        Alias
                    </th>
                    <th>
                        From Ip
                    </th>
                    <th>
                        To Ip
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>localhost</td>
                <td>127.0.0.1</td>
                <td>127.0.0.1</td>
                <td></td>
            </tr>
            <tr ng-repeat="(index, entry) in list">
                <td>{{entry.alias}}</td>
                <td>{{entry.fromIp}}</td>
                <td>{{entry.toIp}}</td>
                <td><button ng-click="removeIp(index)" class="icon-trash"></button></td>
            </tr>
        </table>

        <div class="umb-editor-footer">
            <umb-button action="save()"
                        state="savingState"
                        label="Save"
                        type="button"
                        button-style="success"
                        icon="">
            </umb-button>
        </div>
    </div>
</div>